<h3>Location id: <%= @location.id %></h3>

<table>
  <tbody>
    <tr>
      <td>Day start:</td><td><%= @location.day_start.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td>Day end:</td><td><%= @location.day_end.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td>Lunch start:</td><td><%= @location.lunch_start.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td>Lunch end:</td><td><%= @location.lunch_end.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td>Appointment duration:</td><td><%= @location.appointment_duration_minutes %> minutes</td>
    </tr>
    <tr>
      <td>Search range: </td><td><strong><%= @start_date %></strong> to <strong><%= @end_date %></strong></td>
    </tr>
  </tbody>
</table>

<h3>Appointments already booked:</h3>
<% @appointments_already_booked.each do |appointment| %>
  <%= appointment.from.strftime("%d.%m.%Y %H:%M") %> - <%= appointment.to.strftime("%H:%M") %>
  <br>
<% end %>

<h3><%= @location_available_slots.size %> slots available for new appointments:</h3>
<% @location_available_slots.each do |slot| %>
  <%= slot[:from].strftime("%d.%m.%Y %H:%M") %> - <%= slot[:to].strftime("%H:%M") %>
  <br>
<% end %>

</br>
<%= link_to "Locations list", locations_path %>