<h3>Location id: <%= @location.id %></h3>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Day start:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.day_start.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Day end:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.day_end.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Lunch start:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.lunch_start.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Lunch end:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.lunch_end.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Appointment duration:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.appointment_duration_minutes %> minutes</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Search range: 
    </div>
    <strong><%= @start_date.strftime("%d.%m.%Y") %></strong> - <strong><%= @end_date.strftime("%d.%m.%Y") %></strong>
  </li>
</ul>

<h3>Unavailable times:</h3>
<% @unavailable_slots.each do |slot| %>
  <%= slot[:from].strftime("%d.%m.%Y %H:%M") %> - <%= slot[:to].strftime("%H:%M") %>
  <br>
<% end %>

<h3><%= @available_slots.size %> slots available for new appointments:</h3>
<% @available_slots.each do |slot| %>
  <%= slot[:from].strftime("%d.%m.%Y %H:%M") %> - <%= slot[:to].strftime("%H:%M") %>
  <br>
<% end %>

</br>
<%= link_to "Locations list", locations_path %>