<h4>Location <%= @location.id %></h4>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= button_to("Edit", edit_location_path(@location), class: "btn btn-light float-right", method: :get) %>
</div>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Day start:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.day_start.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Lunch start:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.lunch_start.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Lunch end:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.lunch_end.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Day end:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.day_end.strftime("%H:%M") %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      Appointment duration:
    </div>
    <span class="badge bg-primary rounded-pill"><%= @location.appointment_duration_minutes %> minutes</span>
  </li>
</ul>
</br>

<%= render 'form_search' %>

</br>
</br>

<% if @unavailable_slots.present? %>
  <h5>Unavailable times:</h5>
  <% @unavailable_slots.each do |slot| %>
    <%= slot[:from].strftime("%d.%m.%Y %H:%M") %> - <%= slot[:to].strftime("%H:%M") %>
    <br>
  <% end %>
<% end %>
</br>
</br>

<% if @available_slots.present? %>
  <h5><%= @available_slots.size %> slots available for new appointments:</h5>
  <div class="accordion accordion-flush" id="accordionExample">
    <% @available_slots.each_with_index do |slot, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
          data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
            <%= slot[:from].strftime("%d.%m.%Y %H:%M") %> - <%= slot[:to].strftime("%H:%M") %>
          </button>
        </h2>
        <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Want to book it?
            </br></br>
            <%= button_to("Go for it!", location_appointments_path(@location),
              params: { 
                search_range: "#{@start_date.strftime("%d.%m.%Y")} - #{@end_date.strftime("%d.%m.%Y")}", 
                appointment: { from: slot[:from], to: slot[:to] }
              }, class: "btn btn-primary") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

</br>
<%= link_to "Back to the list of locations", locations_path %>
</br>
</br>